button
  outline:none
  &::after
    border:none


  &[disabled]:not([type])
  &[disabled]
    color:rgba(0, 0, 0, 0.3);
    background-color:#ddd;

.btn
  no-select()
  outline none
  border-style none
  display inline-flex
  flex 0 0 auto
  align-items center
  justify-content center
  position relative
  text-decoration none
  font-weight bolder
  br(4px)
  p(x, 3)
  height 48px
  color: $theme.text-d

  &.pri
    background: $theme.pri
  &.round
    br-pill()

  &.outline
    border:1px solid $theme.pri

  &.block
    display block !important
