// Theme
// =========================================
$theme := {
  bg: #ffffff,
  pri: #FFD907,
  sec: #FFD907,
  acc: #E17A29,
  pale: #FFF5D2,
  text-d: #424242,
  text-l: #ffffff,
  light: true
}
